*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 0px;
    background: linear-gradient(90deg, rgba(63,65,128,1) 23%, rgba(123,114,246,1) 100%);
    
}

main {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 36px;
    
    
    
    
    
}

article {
    display: inline-block;
    background: linear-gradient(90deg, rgba(157,158,181,1) 74%, rgba(139,134,199,1) 100%);
    max-width: 200px;
    overflow: auto rgba(153,143,206,255);
    padding: 20px;
    margin-right: 40px;
    transition: transform 0.3s;
    border-radius: 5px;
    
    
    
}

article:nth-of-type(2){
    position: relative;
    top: 0px;
    
}


article:hover {
    border-color: #0d0d0e;
    transform:scale(110%);
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    font-weight: 90px;
    margin-bottom: 20px ;
}



.data {
    color: black;
    margin-bottom: 20px;
    line-height: 20px;
}

.citation {
    
    margin-bottom: 15px;
    border-width: 0 0 1px;
    border-style:solid;
    border-color: #7375af;
    
    
    
}

.link {
    margin: 15px 0 ;
}

.link a {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 55px;
    background: yellow;
    color: black;
    text-align: center;
    border-radius: 5px;
}

.link a:hover {
    background: yellowgreen;
}


.fish {
    
    width: 170px;
    margin-right: 15px;
}


.kaina {
    font-size: 50px;
    font-family:times;
    font-weight: normal;
    margin-top: 20px;

}




